.text-information{
    word-spacing: 10px; 
    padding: 5px;    
    text-align: justify;
    }
    
    .text-information P{
    margin-top: 20px;
    }
    
    .basic{
    word-spacing: 10px; 
    padding: 5px;    
    text-align: justify;
    }
    
    .logo{
    margin-top: -40px;
    width: auto;
    height: 130px;
    }
    
    .top-fist{
    }